
<!DOCTYPE html><html lang="en" class="h-full w-full"><head><meta charSet="utf-8"/><meta name="viewport" content="width=device-width, initial-scale=1"/><link rel="preload" as="image" href="https://placehold.co/32x32"/><link rel="stylesheet" href="/_next/static/css/0529f1706ccc7e93.css" data-precedence="next"/><link rel="stylesheet" href="/_next/static/css/48340cfe5c3cfec7.css" data-precedence="next"/><link rel="preload" as="script" fetchPriority="low" href="/_next/static/chunks/webpack-d779281429a847a3.js"/><script src="/_next/static/chunks/dc6d687c-ba12c5279bc5e48a.js" async=""></script><script src="/_next/static/chunks/b6261da7-b362d3b35779b164.js" async=""></script><script src="/_next/static/chunks/4425-3f7166d7b3123696.js" async=""></script><script src="/_next/static/chunks/main-app-86d561e66a1f4950.js" async=""></script><script src="/_next/static/chunks/5343-3db2e51abee1a646.js" async=""></script><script src="/_next/static/chunks/1594-077f0bbe5cbd551b.js" async=""></script><script src="/_next/static/chunks/app/link/layout-dc1ac07e7f7017c9.js" async=""></script><script src="/_next/static/chunks/9803-264438860b4a622c.js" async=""></script><script src="/_next/static/chunks/1855-fc4e8c9ddc6c0061.js" async=""></script><script src="/_next/static/chunks/5245-29a713603bee7829.js" async=""></script><script src="/_next/static/chunks/app/global-error-9c2e2f7ebe6a516a.js" async=""></script><script src="/_next/static/chunks/9511-4b985dd6f593b9cf.js" async=""></script><script src="/_next/static/chunks/app/layout-2eacb3392a206ad1.js" async=""></script><script async="" src="https://kit.fontawesome.com/2c15cc0cc7.js" crossorigin="anonymous"></script><script src="/_next/static/chunks/d8465030-0ad20d2e2a63e522.js" async=""></script><script src="/_next/static/chunks/d6b5c46a-b0196a8542e97cf3.js" async=""></script><script src="/_next/static/chunks/6326c03c-9a76f775a30a3830.js" async=""></script><script src="/_next/static/chunks/d614adf9-ecf89fe98139d609.js" async=""></script><script src="/_next/static/chunks/656-fbdbe7de1f79d22a.js" async=""></script><script src="/_next/static/chunks/6474-b7b65debb4797a1e.js" async=""></script><script src="/_next/static/chunks/7237-938215e4c5d3d43b.js" async=""></script><script src="/_next/static/chunks/38-6aa4877b94a51ff4.js" async=""></script><script src="/_next/static/chunks/app/link/%5Bslug%5D/(catch-all)/%5B...path%5D/page-fdd979e2a6e71a5f.js" async=""></script><link rel="preconnect" href="https://fonts.googleapis.com"/><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous"/><title>Dashboard2</title><meta name="description" content="Create lets you code using plain text and images. Use it to build components, sites, designs, prototypes, products, tools and more."/><meta property="og:title" content="Dashboard2"/><meta property="og:description" content="Create lets you code using plain text and images. Use it to build components, sites, designs, prototypes, products, tools and more."/><meta property="og:site_name" content="Crypto Investment Website"/><meta property="og:image:type" content="image/png"/><meta property="og:image" content="https://crypto-investment-website-398.created.app/link/crypto-investment-website-398/opengraph-image?fe7ec8d988bc4631"/><meta property="og:type" content="website"/><meta name="twitter:card" content="summary_large_image"/><meta name="twitter:title" content="Dashboard2"/><meta name="twitter:description" content="Create lets you code using plain text and images. Use it to build components, sites, designs, prototypes, products, tools and more."/><meta name="twitter:image:type" content="image/png"/><meta name="twitter:image" content="https://crypto-investment-website-398.created.app/link/crypto-investment-website-398/twitter-image?fe7ec8d988bc4631"/><meta name="next-size-adjust"/><link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&amp;display=block" rel="stylesheet"/><script>!function(t){function e(){var e=this||self;e.globalThis=e,delete t.prototype._T_}"object"!=typeof globalThis&&(this?e():(t.defineProperty(t.prototype,"_T_",{configurable:!0,get:e}),_T_))}(Object);</script><script src="/_next/static/chunks/polyfills-42372ed130431b0a.js" noModule=""></script></head><body class="h-full w-full"><style>*, ::before, ::after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x:  ;
    --tw-pan-y:  ;
    --tw-pinch-zoom:  ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position:  ;
    --tw-gradient-via-position:  ;
    --tw-gradient-to-position:  ;
    --tw-ordinal:  ;
    --tw-slashed-zero:  ;
    --tw-numeric-figure:  ;
    --tw-numeric-spacing:  ;
    --tw-numeric-fraction:  ;
    --tw-ring-inset:  ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur:  ;
    --tw-brightness:  ;
    --tw-contrast:  ;
    --tw-grayscale:  ;
    --tw-hue-rotate:  ;
    --tw-invert:  ;
    --tw-saturate:  ;
    --tw-sepia:  ;
    --tw-drop-shadow:  ;
    --tw-backdrop-blur:  ;
    --tw-backdrop-brightness:  ;
    --tw-backdrop-contrast:  ;
    --tw-backdrop-grayscale:  ;
    --tw-backdrop-hue-rotate:  ;
    --tw-backdrop-invert:  ;
    --tw-backdrop-opacity:  ;
    --tw-backdrop-saturate:  ;
    --tw-backdrop-sepia:  ;
    --tw-contain-size:  ;
    --tw-contain-layout:  ;
    --tw-contain-paint:  ;
    --tw-contain-style:  ;
  }
  
  ::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x:  ;
    --tw-pan-y:  ;
    --tw-pinch-zoom:  ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position:  ;
    --tw-gradient-via-position:  ;
    --tw-gradient-to-position:  ;
    --tw-ordinal:  ;
    --tw-slashed-zero:  ;
    --tw-numeric-figure:  ;
    --tw-numeric-spacing:  ;
    --tw-numeric-fraction:  ;
    --tw-ring-inset:  ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur:  ;
    --tw-brightness:  ;
    --tw-contrast:  ;
    --tw-grayscale:  ;
    --tw-hue-rotate:  ;
    --tw-invert:  ;
    --tw-saturate:  ;
    --tw-sepia:  ;
    --tw-drop-shadow:  ;
    --tw-backdrop-blur:  ;
    --tw-backdrop-brightness:  ;
    --tw-backdrop-contrast:  ;
    --tw-backdrop-grayscale:  ;
    --tw-backdrop-hue-rotate:  ;
    --tw-backdrop-invert:  ;
    --tw-backdrop-opacity:  ;
    --tw-backdrop-saturate:  ;
    --tw-backdrop-sepia:  ;
    --tw-contain-size:  ;
    --tw-contain-layout:  ;
    --tw-contain-paint:  ;
    --tw-contain-style:  ;
  }/*
  ! tailwindcss v3.4.14 | MIT License | https://tailwindcss.com
  *//*
  1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
  2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
  */
  
  *,
  ::before,
  ::after {
    box-sizing: border-box; /* 1 */
    border-width: 0; /* 2 */
    border-style: solid; /* 2 */
    border-color: #e5e7eb; /* 2 */
  }
  
  ::before,
  ::after {
    --tw-content: '';
  }
  
  /*
  1. Use a consistent sensible line-height in all browsers.
  2. Prevent adjustments of font size after orientation changes in iOS.
  3. Use a more readable tab size.
  4. Use the user's configured `sans` font-family by default.
  5. Use the user's configured `sans` font-feature-settings by default.
  6. Use the user's configured `sans` font-variation-settings by default.
  7. Disable tap highlights on iOS
  */
  
  html,
  :host {
    line-height: 1.5; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -moz-tab-size: 4; /* 3 */
    tab-size: 4; /* 3 */
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
    font-feature-settings: normal; /* 5 */
    font-variation-settings: normal; /* 6 */
    -webkit-tap-highlight-color: transparent; /* 7 */
  }
  
  /*
  1. Remove the margin in all browsers.
  2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
  */
  
  body {
    margin: 0; /* 1 */
    line-height: inherit; /* 2 */
  }
  
  /*
  1. Add the correct height in Firefox.
  2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
  3. Ensure horizontal rules are visible by default.
  */
  
  hr {
    height: 0; /* 1 */
    color: inherit; /* 2 */
    border-top-width: 1px; /* 3 */
  }
  
  /*
  Add the correct text decoration in Chrome, Edge, and Safari.
  */
  
  abbr:where([title]) {
    text-decoration: underline dotted;
  }
  
  /*
  Remove the default font size and weight for headings.
  */
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: inherit;
  }
  
  /*
  Reset links to optimize for opt-in styling instead of opt-out.
  */
  
  a {
    color: inherit;
    text-decoration: inherit;
  }
  
  /*
  Add the correct font weight in Edge and Safari.
  */
  
  b,
  strong {
    font-weight: bolder;
  }
  
  /*
  1. Use the user's configured `mono` font-family by default.
  2. Use the user's configured `mono` font-feature-settings by default.
  3. Use the user's configured `mono` font-variation-settings by default.
  4. Correct the odd `em` font sizing in all browsers.
  */
  
  code,
  kbd,
  samp,
  pre {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
    font-feature-settings: normal; /* 2 */
    font-variation-settings: normal; /* 3 */
    font-size: 1em; /* 4 */
  }
  
  /*
  Add the correct font size in all browsers.
  */
  
  small {
    font-size: 80%;
  }
  
  /*
  Prevent `sub` and `sup` elements from affecting the line height in all browsers.
  */
  
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  /*
  1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
  2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
  3. Remove gaps between table borders by default.
  */
  
  table {
    text-indent: 0; /* 1 */
    border-color: inherit; /* 2 */
    border-collapse: collapse; /* 3 */
  }
  
  /*
  1. Change the font styles in all browsers.
  2. Remove the margin in Firefox and Safari.
  3. Remove default padding in all browsers.
  */
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-feature-settings: inherit; /* 1 */
    font-variation-settings: inherit; /* 1 */
    font-size: 100%; /* 1 */
    font-weight: inherit; /* 1 */
    line-height: inherit; /* 1 */
    letter-spacing: inherit; /* 1 */
    color: inherit; /* 1 */
    margin: 0; /* 2 */
    padding: 0; /* 3 */
  }
  
  /*
  Remove the inheritance of text transform in Edge and Firefox.
  */
  
  button,
  select {
    text-transform: none;
  }
  
  /*
  1. Correct the inability to style clickable types in iOS and Safari.
  2. Remove default button styles.
  */
  
  button,
  input:where([type='button']),
  input:where([type='reset']),
  input:where([type='submit']) {
    -webkit-appearance: button; /* 1 */
    background-color: transparent; /* 2 */
    background-image: none; /* 2 */
  }
  
  /*
  Use the modern Firefox focus style for all focusable elements.
  */
  
  :-moz-focusring {
    outline: auto;
  }
  
  /*
  Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
  */
  
  :-moz-ui-invalid {
    box-shadow: none;
  }
  
  /*
  Add the correct vertical alignment in Chrome and Firefox.
  */
  
  progress {
    vertical-align: baseline;
  }
  
  /*
  Correct the cursor style of increment and decrement buttons in Safari.
  */
  
  ::-webkit-inner-spin-button,
  ::-webkit-outer-spin-button {
    height: auto;
  }
  
  /*
  1. Correct the odd appearance in Chrome and Safari.
  2. Correct the outline style in Safari.
  */
  
  [type='search'] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
  }
  
  /*
  Remove the inner padding in Chrome and Safari on macOS.
  */
  
  ::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  /*
  1. Correct the inability to style clickable types in iOS and Safari.
  2. Change font properties to `inherit` in Safari.
  */
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }
  
  /*
  Add the correct display in Chrome and Safari.
  */
  
  summary {
    display: list-item;
  }
  
  /*
  Removes the default spacing and border for appropriate elements.
  */
  
  blockquote,
  dl,
  dd,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr,
  figure,
  p,
  pre {
    margin: 0;
  }
  
  fieldset {
    margin: 0;
    padding: 0;
  }
  
  legend {
    padding: 0;
  }
  
  ol,
  ul,
  menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  /*
  Reset default styling for dialogs.
  */
  dialog {
    padding: 0;
  }
  
  /*
  Prevent resizing textareas horizontally by default.
  */
  
  textarea {
    resize: vertical;
  }
  
  /*
  1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
  2. Set the default placeholder color to the user's configured gray 400 color.
  */
  
  input::placeholder,
  textarea::placeholder {
    opacity: 1; /* 1 */
    color: #9ca3af; /* 2 */
  }
  
  /*
  Set the default cursor for buttons.
  */
  
  button,
  [role="button"] {
    cursor: pointer;
  }
  
  /*
  Make sure disabled buttons don't get the pointer cursor.
  */
  :disabled {
    cursor: default;
  }
  
  /*
  1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
  2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
     This can trigger a poorly considered lint error in some tools but is included by design.
  */
  
  img,
  svg,
  video,
  canvas,
  audio,
  iframe,
  embed,
  object {
    display: block; /* 1 */
    vertical-align: middle; /* 2 */
  }
  
  /*
  Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
  */
  
  img,
  video {
    max-width: 100%;
    height: auto;
  }
  
  /* Make elements with the HTML hidden attribute stay hidden by default */
  [hidden]:where(:not([hidden="until-found"])) {
    display: none;
  }
    .fixed {
    position: fixed;
  }
    .top-0 {
    top: 0px;
  }
    .z-50 {
    z-index: 50;
  }
    .mb-2 {
    margin-bottom: 0.5rem;
  }
    .mb-4 {
    margin-bottom: 1rem;
  }
    .mt-4 {
    margin-top: 1rem;
  }
    .flex {
    display: flex;
  }
    .grid {
    display: grid;
  }
    .hidden {
    display: none;
  }
    .h-8 {
    height: 2rem;
  }
    .h-\[200px\] {
    height: 200px;
  }
    .min-h-screen {
    min-height: 100vh;
  }
    .w-8 {
    width: 2rem;
  }
    .w-full {
    width: 100%;
  }
    .flex-1 {
    flex: 1 1 0%;
  }
    .flex-grow {
    flex-grow: 1;
  }
    .grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
    .flex-col {
    flex-direction: column;
  }
    .items-center {
    align-items: center;
  }
    .justify-center {
    justify-content: center;
  }
    .justify-between {
    justify-content: space-between;
  }
    .gap-2 {
    gap: 0.5rem;
  }
    .gap-4 {
    gap: 1rem;
  }
    .space-y-4 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1rem * var(--tw-space-y-reverse));
  }
    .rounded-full {
    border-radius: 9999px;
  }
    .rounded-lg {
    border-radius: 0.5rem;
  }
    .border-b {
    border-bottom-width: 1px;
  }
    .border-t {
    border-top-width: 1px;
  }
    .border-slate-700 {
    --tw-border-opacity: 1;
    border-color: rgb(51 65 85 / var(--tw-border-opacity));
  }
    .bg-blue-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(37 99 235 / var(--tw-bg-opacity));
  }
    .bg-slate-700 {
    --tw-bg-opacity: 1;
    background-color: rgb(51 65 85 / var(--tw-bg-opacity));
  }
    .bg-slate-800 {
    --tw-bg-opacity: 1;
    background-color: rgb(30 41 59 / var(--tw-bg-opacity));
  }
    .bg-slate-900 {
    --tw-bg-opacity: 1;
    background-color: rgb(15 23 42 / var(--tw-bg-opacity));
  }
    .p-4 {
    padding: 1rem;
  }
    .px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
    .px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
    .py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
    .py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
    .pt-20 {
    padding-top: 5rem;
  }
    .text-center {
    text-align: center;
  }
    .text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }
    .text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
    .text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
    .text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
    .font-bold {
    font-weight: 700;
  }
    .font-semibold {
    font-weight: 600;
  }
    .text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
  }
    .text-gray-300 {
    --tw-text-opacity: 1;
    color: rgb(209 213 219 / var(--tw-text-opacity));
  }
    .text-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
  }
    .text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }
    .hover\:bg-blue-700:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(29 78 216 / var(--tw-bg-opacity));
  }
    .hover\:bg-slate-600:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(71 85 105 / var(--tw-bg-opacity));
  }
    .hover\:text-white:hover {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }
    @media (min-width: 768px) {
  
    .md\:block {
      display: block;
    }
  
    .md\:grid-cols-3 {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
    @media (min-width: 1024px) {
  
    .lg\:px-5 {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }
  
    .lg\:pl-3 {
      padding-left: 0.75rem;
    }
  }
  </style><style data-twind="" id="twind-styles"></style><div class="__className_d65c78 relative h-full w-full"><div class="min-h-screen bg-slate-900 flex flex-col"><nav class="fixed top-0 z-50 w-full bg-slate-800 border-b border-slate-700"><div class="px-3 py-3 lg:px-5 lg:pl-3"><div class="flex items-center justify-between"><div class="text-blue-500 font-bold text-xl flex items-center gap-2"><i class="fas fa-link"></i>CryptoVest</div><div class="flex items-center gap-2 text-gray-300"><img src="https://placehold.co/32x32" alt="User avatar" class="w-8 h-8 rounded-full" __source="[object Object]"/><span class="hidden md:block">John Doe</span></div></div></div></nav><div class="p-4 pt-20 flex-grow"><div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-4"><div class="p-4 bg-slate-800 rounded-lg"><h3 class="text-lg font-semibold text-white mb-2">Total Balance</h3><p class="text-2xl font-bold text-white">$0.00</p><p class="text-gray-400">No change (24h)</p><div class="mt-4 flex gap-2"><a href="/plans" class="flex-1 px-3 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 text-center">Deposit</a><button class="flex-1 px-3 py-2 bg-slate-700 text-white rounded-lg hover:bg-slate-600">Withdraw</button></div></div><div class="p-4 bg-slate-800 rounded-lg"><h3 class="text-lg font-semibold text-white mb-2">Performance</h3><div class="h-[200px] flex items-center justify-center text-gray-400">Chart will be displayed here</div></div><div class="p-4 bg-slate-800 rounded-lg"><h3 class="text-lg font-semibold text-white mb-4">Active Investments</h3><div class="flex flex-col items-center justify-center h-[200px] space-y-4"><p class="text-gray-400">No active investments</p><a href="/plans" class="px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700">Deposit</a></div></div></div></div><footer class="bg-slate-800 border-t border-slate-700 p-4"><div class="flex justify-between items-center"><p class="text-gray-400 text-sm">© 2024 CryptoVest. All rights reserved.</p><div class="flex gap-4"><a href="/privacy" class="text-gray-400 hover:text-white text-sm">Privacy</a><a href="/terms" class="text-gray-400 hover:text-white text-sm">Terms</a><a href="/support" class="text-gray-400 hover:text-white text-sm">Support</a></div></div></footer></div></div><!--$--><!--$!--><template data-dgst="BAILOUT_TO_CLIENT_SIDE_RENDERING"></template><!--/$--><!--/$--><!--$--><!--/$--><script src="/_next/static/chunks/webpack-d779281429a847a3.js" async=""></script><script>(self.__next_f=self.__next_f||[]).push([0]);self.__next_f.push([2,null])</script><script>self.__next_f.push([1,"1:HL[\"/_next/static/media/a34f9d1faa5f3315-s.p.woff2\",\"font\",{\"crossOrigin\":\"\",\"type\":\"font/woff2\"}]\n2:HL[\"/_next/static/css/0529f1706ccc7e93.css\",\"style\"]\n3:HL[\"/_next/static/css/48340cfe5c3cfec7.css\",\"style\"]\n"])</script><script>self.__next_f.push([1,"4:I[60905,[],\"\"]\n7:I[84204,[],\"\"]\n9:I[69822,[],\"\"]\na:\"$Sreact.suspense\"\nb:I[96783,[\"5343\",\"static/chunks/5343-3db2e51abee1a646.js\",\"1594\",\"static/chunks/1594-077f0bbe5cbd551b.js\",\"9098\",\"static/chunks/app/link/layout-dc1ac07e7f7017c9.js\"],\"Analytics\"]\ne:I[31320,[\"5343\",\"static/chunks/5343-3db2e51abee1a646.js\",\"9803\",\"static/chunks/9803-264438860b4a622c.js\",\"1855\",\"static/chunks/1855-fc4e8c9ddc6c0061.js\",\"5245\",\"static/chunks/5245-29a713603bee7829.js\",\"6470\",\"static/chunks/app/global-error-9c2e2f7ebe6a516a.js\"],\"default\"]\n8:[\"slug\",\"crypto-investment-website-398\",\"d\"]\nf:[]\n"])</script><script>self.__next_f.push([1,"0:[\"$\",\"$L4\",null,{\"buildId\":\"2EHvDTpiOeKyTtPO12BqU\",\"assetPrefix\":\"\",\"urlParts\":[\"\",\"\"],\"initialTree\":[\"\",{\"children\":[\"link\",{\"children\":[[\"slug\",\"crypto-investment-website-398\",\"d\"],{\"children\":[\"__PAGE__\",{}]}]}]},\"$undefined\",\"$undefined\",true],\"initialSeedData\":[\"\",{\"children\":[\"link\",{\"children\":[[\"slug\",\"crypto-investment-website-398\",\"d\"],{\"children\":[\"__PAGE__\",{},[[\"$L5\",\"$L6\",[[\"$\",\"link\",\"0\",{\"rel\":\"stylesheet\",\"href\":\"/_next/static/css/0529f1706ccc7e93.css\",\"precedence\":\"next\",\"crossOrigin\":\"$undefined\"}],[\"$\",\"link\",\"1\",{\"rel\":\"stylesheet\",\"href\":\"/_next/static/css/48340cfe5c3cfec7.css\",\"precedence\":\"next\",\"crossOrigin\":\"$undefined\"}]]],null],null]},[null,[\"$\",\"$L7\",null,{\"parallelRouterKey\":\"children\",\"segmentPath\":[\"children\",\"link\",\"children\",\"$8\",\"children\"],\"error\":\"$undefined\",\"errorStyles\":\"$undefined\",\"errorScripts\":\"$undefined\",\"template\":[\"$\",\"$L9\",null,{}],\"templateStyles\":\"$undefined\",\"templateScripts\":\"$undefined\",\"notFound\":[\"$\",\"div\",null,{\"className\":\"flex justify-center\",\"children\":[\"$\",\"div\",null,{\"className\":\"text-[#32333e] mt-12 flex flex-col items-center justify-center\",\"children\":[[\"$\",\"h1\",null,{\"className\":\"mb-[12px] text-[72px] font-[600] leading-[120%]\",\"children\":\"404\"}],[\"$\",\"p\",null,{\"className\":\"mb-[16px] text-[20px] font-[500] leading-[140%]\",\"children\":\"Looks like you're lost.\"}],[\"$\",\"p\",null,{\"className\":\"text-[14px] font-[470] leading-[140%]\",\"children\":\"The page you are looking for does not exist.\"}]]}]}],\"notFoundStyles\":[[\"$\",\"link\",\"0\",{\"rel\":\"stylesheet\",\"href\":\"/_next/static/css/0529f1706ccc7e93.css\",\"precedence\":\"next\",\"crossOrigin\":\"$undefined\"}]]}]],null]},[[null,[[\"$\",\"$L7\",null,{\"parallelRouterKey\":\"children\",\"segmentPath\":[\"children\",\"link\",\"children\"],\"error\":\"$undefined\",\"errorStyles\":\"$undefined\",\"errorScripts\":\"$undefined\",\"template\":[\"$\",\"$L9\",null,{}],\"templateStyles\":\"$undefined\",\"templateScripts\":\"$undefined\",\"notFound\":\"$undefined\",\"notFoundStyles\":\"$undefined\"}],[\"$\",\"$a\",null,{\"children\":[\"$\",\"$Lb\",null,{}]}]]],null],null]},[[null,\"$Lc\"],null],null],\"couldBeIntercepted\":false,\"initialHead\":[null,\"$Ld\"],\"globalErrorComponent\":\"$e\",\"missingSlots\":\"$Wf\"}]\n"])</script><script>self.__next_f.push([1,"10:I[2327,[\"5343\",\"static/chunks/5343-3db2e51abee1a646.js\",\"9511\",\"static/chunks/9511-4b985dd6f593b9cf.js\",\"3185\",\"static/chunks/app/layout-2eacb3392a206ad1.js\"],\"default\"]\n"])</script><script>self.__next_f.push([1,"c:[\"$\",\"html\",null,{\"lang\":\"en\",\"className\":\"h-full w-full\",\"children\":[[\"$\",\"head\",null,{\"children\":[[\"$\",\"link\",null,{\"rel\":\"preconnect\",\"href\":\"https://fonts.googleapis.com\"}],[\"$\",\"link\",null,{\"rel\":\"preconnect\",\"href\":\"https://fonts.gstatic.com\",\"crossOrigin\":\"anonymous\"}],[\"$\",\"link\",null,{\"href\":\"https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600\u0026display=block\",\"rel\":\"stylesheet\"}],[\"$\",\"script\",null,{\"dangerouslySetInnerHTML\":{\"__html\":\"!function(t){function e(){var e=this||self;e.globalThis=e,delete t.prototype._T_}\\\"object\\\"!=typeof globalThis\u0026\u0026(this?e():(t.defineProperty(t.prototype,\\\"_T_\\\",{configurable:!0,get:e}),_T_))}(Object);\"}}],[\"$\",\"script\",null,{\"async\":true,\"src\":\"https://kit.fontawesome.com/2c15cc0cc7.js\",\"crossOrigin\":\"anonymous\"}]]}],[\"$\",\"body\",null,{\"className\":\"h-full w-full\",\"children\":[\"$\",\"$L10\",null,{\"children\":[\"$\",\"$L7\",null,{\"parallelRouterKey\":\"children\",\"segmentPath\":[\"children\"],\"error\":\"$undefined\",\"errorStyles\":\"$undefined\",\"errorScripts\":\"$undefined\",\"template\":[\"$\",\"$L9\",null,{}],\"templateStyles\":\"$undefined\",\"templateScripts\":\"$undefined\",\"notFound\":[[\"$\",\"title\",null,{\"children\":\"404: This page could not be found.\"}],[\"$\",\"div\",null,{\"style\":{\"fontFamily\":\"system-ui,\\\"Segoe UI\\\",Roboto,Helvetica,Arial,sans-serif,\\\"Apple Color Emoji\\\",\\\"Segoe UI Emoji\\\"\",\"height\":\"100vh\",\"textAlign\":\"center\",\"display\":\"flex\",\"flexDirection\":\"column\",\"alignItems\":\"center\",\"justifyContent\":\"center\"},\"children\":[\"$\",\"div\",null,{\"children\":[[\"$\",\"style\",null,{\"dangerouslySetInnerHTML\":{\"__html\":\"body{color:#000;background:#fff;margin:0}.next-error-h1{border-right:1px solid rgba(0,0,0,.3)}@media (prefers-color-scheme:dark){body{color:#fff;background:#000}.next-error-h1{border-right:1px solid rgba(255,255,255,.3)}}\"}}],[\"$\",\"h1\",null,{\"className\":\"next-error-h1\",\"style\":{\"display\":\"inline-block\",\"margin\":\"0 20px 0 0\",\"padding\":\"0 23px 0 0\",\"fontSize\":24,\"fontWeight\":500,\"verticalAlign\":\"top\",\"lineHeight\":\"49px\"},\"children\":\"404\"}],[\"$\",\"div\",null,{\"style\":{\"display\":\"inline-block\"},\"children\":[\"$\",\"h2\",null,{\"style\":{\"fontSize\":14,\"fontWeight\":400,\"lineHeight\":\"49px\",\"margin\":0},\"children\":\"This page could not be found.\"}]}]]}]}]],\"notFoundStyles\":[]}]}]}]]}]\n"])</script><script>self.__next_f.push([1,"12:I[14397,[\"6384\",\"static/chunks/d8465030-0ad20d2e2a63e522.js\",\"392\",\"static/chunks/d6b5c46a-b0196a8542e97cf3.js\",\"3886\",\"static/chunks/6326c03c-9a76f775a30a3830.js\",\"6801\",\"static/chunks/d614adf9-ecf89fe98139d609.js\",\"656\",\"static/chunks/656-fbdbe7de1f79d22a.js\",\"5343\",\"static/chunks/5343-3db2e51abee1a646.js\",\"9803\",\"static/chunks/9803-264438860b4a622c.js\",\"9511\",\"static/chunks/9511-4b985dd6f593b9cf.js\",\"6474\",\"static/chunks/6474-b7b65debb4797a1e.js\",\"1855\",\"static/chunks/1855-fc4e8c9ddc6c0061.js\",\"7237\",\"static/chunks/7237-938215e4c5d3d43b.js\",\"5245\",\"static/chunks/5245-29a713603bee7829.js\",\"38\",\"static/chunks/38-6aa4877b94a51ff4.js\",\"5309\",\"static/chunks/app/link/%5Bslug%5D/(catch-all)/%5B...path%5D/page-fdd979e2a6e71a5f.js\"],\"ErrorBoundary\"]\n13:I[81529,[\"6384\",\"static/chunks/d8465030-0ad20d2e2a63e522.js\",\"392\",\"static/chunks/d6b5c46a-b0196a8542e97cf3.js\",\"3886\",\"static/chunks/6326c03c-9a76f775a30a3830.js\",\"6801\",\"static/chunks/d614adf9-ecf89fe98139d609.js\",\"656\",\"static/chunks/656-fbdbe7de1f79d22a.js\",\"5343\",\"static/chunks/5343-3db2e51abee1a646.js\",\"9803\",\"static/chunks/9803-264438860b4a622c.js\",\"9511\",\"static/chunks/9511-4b985dd6f593b9cf.js\",\"6474\",\"static/chunks/6474-b7b65debb4797a1e.js\",\"1855\",\"static/chunks/1855-fc4e8c9ddc6c0061.js\",\"7237\",\"static/chunks/7237-938215e4c5d3d43b.js\",\"5245\",\"static/chunks/5245-29a713603bee7829.js\",\"38\",\"static/chunks/38-6aa4877b94a51ff4.js\",\"5309\",\"static/chunks/app/link/%5Bslug%5D/(catch-all)/%5B...path%5D/page-fdd979e2a6e71a5f.js\"],\"AlertBox\"]\n14:I[4729,[\"6384\",\"static/chunks/d8465030-0ad20d2e2a63e522.js\",\"392\",\"static/chunks/d6b5c46a-b0196a8542e97cf3.js\",\"3886\",\"static/chunks/6326c03c-9a76f775a30a3830.js\",\"6801\",\"static/chunks/d614adf9-ecf89fe98139d609.js\",\"656\",\"static/chunks/656-fbdbe7de1f79d22a.js\",\"5343\",\"static/chunks/5343-3db2e51abee1a646.js\",\"9803\",\"static/chunks/9803-264438860b4a622c.js\",\"9511\",\"static/chunks/9511-4b985dd6f593b9cf.js\",\"6474\",\"static/chunks/6474-b7b65debb4797a1e.js\",\"1855\",\"static/chunks/1855-fc4e8c9ddc6c0061.js\",\"7237\",\"static/chunks/7237-938215e4"])</script><script>self.__next_f.push([1,"c5d3d43b.js\",\"5245\",\"static/chunks/5245-29a713603bee7829.js\",\"38\",\"static/chunks/38-6aa4877b94a51ff4.js\",\"5309\",\"static/chunks/app/link/%5Bslug%5D/(catch-all)/%5B...path%5D/page-fdd979e2a6e71a5f.js\"],\"GeneratedAppWrapper\"]\n16:I[77466,[\"6384\",\"static/chunks/d8465030-0ad20d2e2a63e522.js\",\"392\",\"static/chunks/d6b5c46a-b0196a8542e97cf3.js\",\"3886\",\"static/chunks/6326c03c-9a76f775a30a3830.js\",\"6801\",\"static/chunks/d614adf9-ecf89fe98139d609.js\",\"656\",\"static/chunks/656-fbdbe7de1f79d22a.js\",\"5343\",\"static/chunks/5343-3db2e51abee1a646.js\",\"9803\",\"static/chunks/9803-264438860b4a622c.js\",\"9511\",\"static/chunks/9511-4b985dd6f593b9cf.js\",\"6474\",\"static/chunks/6474-b7b65debb4797a1e.js\",\"1855\",\"static/chunks/1855-fc4e8c9ddc6c0061.js\",\"7237\",\"static/chunks/7237-938215e4c5d3d43b.js\",\"5245\",\"static/chunks/5245-29a713603bee7829.js\",\"38\",\"static/chunks/38-6aa4877b94a51ff4.js\",\"5309\",\"static/chunks/app/link/%5Bslug%5D/(catch-all)/%5B...path%5D/page-fdd979e2a6e71a5f.js\"],\"BailoutToCSR\"]\n17:I[38647,[\"6384\",\"static/chunks/d8465030-0ad20d2e2a63e522.js\",\"392\",\"static/chunks/d6b5c46a-b0196a8542e97cf3.js\",\"3886\",\"static/chunks/6326c03c-9a76f775a30a3830.js\",\"6801\",\"static/chunks/d614adf9-ecf89fe98139d609.js\",\"656\",\"static/chunks/656-fbdbe7de1f79d22a.js\",\"5343\",\"static/chunks/5343-3db2e51abee1a646.js\",\"9803\",\"static/chunks/9803-264438860b4a622c.js\",\"9511\",\"static/chunks/9511-4b985dd6f593b9cf.js\",\"6474\",\"static/chunks/6474-b7b65debb4797a1e.js\",\"1855\",\"static/chunks/1855-fc4e8c9ddc6c0061.js\",\"7237\",\"static/chunks/7237-938215e4c5d3d43b.js\",\"5245\",\"static/chunks/5245-29a713603bee7829.js\",\"38\",\"static/chunks/38-6aa4877b94a51ff4.js\",\"5309\",\"static/chunks/app/link/%5Bslug%5D/(catch-all)/%5B...path%5D/page-fdd979e2a6e71a5f.js\"],\"default\"]\n11:T357a,"])</script><script>self.__next_f.push([1,"*, ::before, ::after {\n  --tw-border-spacing-x: 0;\n  --tw-border-spacing-y: 0;\n  --tw-translate-x: 0;\n  --tw-translate-y: 0;\n  --tw-rotate: 0;\n  --tw-skew-x: 0;\n  --tw-skew-y: 0;\n  --tw-scale-x: 1;\n  --tw-scale-y: 1;\n  --tw-pan-x:  ;\n  --tw-pan-y:  ;\n  --tw-pinch-zoom:  ;\n  --tw-scroll-snap-strictness: proximity;\n  --tw-gradient-from-position:  ;\n  --tw-gradient-via-position:  ;\n  --tw-gradient-to-position:  ;\n  --tw-ordinal:  ;\n  --tw-slashed-zero:  ;\n  --tw-numeric-figure:  ;\n  --tw-numeric-spacing:  ;\n  --tw-numeric-fraction:  ;\n  --tw-ring-inset:  ;\n  --tw-ring-offset-width: 0px;\n  --tw-ring-offset-color: #fff;\n  --tw-ring-color: rgb(59 130 246 / 0.5);\n  --tw-ring-offset-shadow: 0 0 #0000;\n  --tw-ring-shadow: 0 0 #0000;\n  --tw-shadow: 0 0 #0000;\n  --tw-shadow-colored: 0 0 #0000;\n  --tw-blur:  ;\n  --tw-brightness:  ;\n  --tw-contrast:  ;\n  --tw-grayscale:  ;\n  --tw-hue-rotate:  ;\n  --tw-invert:  ;\n  --tw-saturate:  ;\n  --tw-sepia:  ;\n  --tw-drop-shadow:  ;\n  --tw-backdrop-blur:  ;\n  --tw-backdrop-brightness:  ;\n  --tw-backdrop-contrast:  ;\n  --tw-backdrop-grayscale:  ;\n  --tw-backdrop-hue-rotate:  ;\n  --tw-backdrop-invert:  ;\n  --tw-backdrop-opacity:  ;\n  --tw-backdrop-saturate:  ;\n  --tw-backdrop-sepia:  ;\n  --tw-contain-size:  ;\n  --tw-contain-layout:  ;\n  --tw-contain-paint:  ;\n  --tw-contain-style:  ;\n}\n\n::backdrop {\n  --tw-border-spacing-x: 0;\n  --tw-border-spacing-y: 0;\n  --tw-translate-x: 0;\n  --tw-translate-y: 0;\n  --tw-rotate: 0;\n  --tw-skew-x: 0;\n  --tw-skew-y: 0;\n  --tw-scale-x: 1;\n  --tw-scale-y: 1;\n  --tw-pan-x:  ;\n  --tw-pan-y:  ;\n  --tw-pinch-zoom:  ;\n  --tw-scroll-snap-strictness: proximity;\n  --tw-gradient-from-position:  ;\n  --tw-gradient-via-position:  ;\n  --tw-gradient-to-position:  ;\n  --tw-ordinal:  ;\n  --tw-slashed-zero:  ;\n  --tw-numeric-figure:  ;\n  --tw-numeric-spacing:  ;\n  --tw-numeric-fraction:  ;\n  --tw-ring-inset:  ;\n  --tw-ring-offset-width: 0px;\n  --tw-ring-offset-color: #fff;\n  --tw-ring-color: rgb(59 130 246 / 0.5);\n  --tw-ring-offset-shadow: 0 0 #0000;\n  --tw-ring-shadow: 0 0 #0000;\n  --tw-shadow: 0 0 #0000;\n  --tw-shadow-colored: 0 0 #0000;\n  --tw-blur:  ;\n  --tw-brightness:  ;\n  --tw-contrast:  ;\n  --tw-grayscale:  ;\n  --tw-hue-rotate:  ;\n  --tw-invert:  ;\n  --tw-saturate:  ;\n  --tw-sepia:  ;\n  --tw-drop-shadow:  ;\n  --tw-backdrop-blur:  ;\n  --tw-backdrop-brightness:  ;\n  --tw-backdrop-contrast:  ;\n  --tw-backdrop-grayscale:  ;\n  --tw-backdrop-hue-rotate:  ;\n  --tw-backdrop-invert:  ;\n  --tw-backdrop-opacity:  ;\n  --tw-backdrop-saturate:  ;\n  --tw-backdrop-sepia:  ;\n  --tw-contain-size:  ;\n  --tw-contain-layout:  ;\n  --tw-contain-paint:  ;\n  --tw-contain-style:  ;\n}/*\n! tailwindcss v3.4.14 | MIT License | https://tailwindcss.com\n*//*\n1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)\n2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)\n*/\n\n*,\n::before,\n::after {\n  box-sizing: border-box; /* 1 */\n  border-width: 0; /* 2 */\n  border-style: solid; /* 2 */\n  border-color: #e5e7eb; /* 2 */\n}\n\n::before,\n::after {\n  --tw-content: '';\n}\n\n/*\n1. Use a consistent sensible line-height in all browsers.\n2. Prevent adjustments of font size after orientation changes in iOS.\n3. Use a more readable tab size.\n4. Use the user's configured `sans` font-family by default.\n5. Use the user's configured `sans` font-feature-settings by default.\n6. Use the user's configured `sans` font-variation-settings by default.\n7. Disable tap highlights on iOS\n*/\n\nhtml,\n:host {\n  line-height: 1.5; /* 1 */\n  -webkit-text-size-adjust: 100%; /* 2 */\n  -moz-tab-size: 4; /* 3 */\n  tab-size: 4; /* 3 */\n  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, \"Helvetica Neue\", Arial, \"Noto Sans\", sans-serif, \"Apple Color Emoji\", \"Segoe UI Emoji\", \"Segoe UI Symbol\", \"Noto Color Emoji\"; /* 4 */\n  font-feature-settings: normal; /* 5 */\n  font-variation-settings: normal; /* 6 */\n  -webkit-tap-highlight-color: transparent; /* 7 */\n}\n\n/*\n1. Remove the margin in all browsers.\n2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.\n*/\n\nbody {\n  margin: 0; /* 1 */\n  line-height: inherit; /* 2 */\n}\n\n/*\n1. Add the correct height in Firefox.\n2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)\n3. Ensure horizontal rules are visible by default.\n*/\n\nhr {\n  height: 0; /* 1 */\n  color: inherit; /* 2 */\n  border-top-width: 1px; /* 3 */\n}\n\n/*\nAdd the correct text decoration in Chrome, Edge, and Safari.\n*/\n\nabbr:where([title]) {\n  text-decoration: underline dotted;\n}\n\n/*\nRemove the default font size and weight for headings.\n*/\n\nh1,\nh2,\nh3,\nh4,\nh5,\nh6 {\n  font-size: inherit;\n  font-weight: inherit;\n}\n\n/*\nReset links to optimize for opt-in styling instead of opt-out.\n*/\n\na {\n  color: inherit;\n  text-decoration: inherit;\n}\n\n/*\nAdd the correct font weight in Edge and Safari.\n*/\n\nb,\nstrong {\n  font-weight: bolder;\n}\n\n/*\n1. Use the user's configured `mono` font-family by default.\n2. Use the user's configured `mono` font-feature-settings by default.\n3. Use the user's configured `mono` font-variation-settings by default.\n4. Correct the odd `em` font sizing in all browsers.\n*/\n\ncode,\nkbd,\nsamp,\npre {\n  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, \"Liberation Mono\", \"Courier New\", monospace; /* 1 */\n  font-feature-settings: normal; /* 2 */\n  font-variation-settings: normal; /* 3 */\n  font-size: 1em; /* 4 */\n}\n\n/*\nAdd the correct font size in all browsers.\n*/\n\nsmall {\n  font-size: 80%;\n}\n\n/*\nPrevent `sub` and `sup` elements from affecting the line height in all browsers.\n*/\n\nsub,\nsup {\n  font-size: 75%;\n  line-height: 0;\n  position: relative;\n  vertical-align: baseline;\n}\n\nsub {\n  bottom: -0.25em;\n}\n\nsup {\n  top: -0.5em;\n}\n\n/*\n1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)\n2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)\n3. Remove gaps between table borders by default.\n*/\n\ntable {\n  text-indent: 0; /* 1 */\n  border-color: inherit; /* 2 */\n  border-collapse: collapse; /* 3 */\n}\n\n/*\n1. Change the font styles in all browsers.\n2. Remove the margin in Firefox and Safari.\n3. Remove default padding in all browsers.\n*/\n\nbutton,\ninput,\noptgroup,\nselect,\ntextarea {\n  font-family: inherit; /* 1 */\n  font-feature-settings: inherit; /* 1 */\n  font-variation-settings: inherit; /* 1 */\n  font-size: 100%; /* 1 */\n  font-weight: inherit; /* 1 */\n  line-height: inherit; /* 1 */\n  letter-spacing: inherit; /* 1 */\n  color: inherit; /* 1 */\n  margin: 0; /* 2 */\n  padding: 0; /* 3 */\n}\n\n/*\nRemove the inheritance of text transform in Edge and Firefox.\n*/\n\nbutton,\nselect {\n  text-transform: none;\n}\n\n/*\n1. Correct the inability to style clickable types in iOS and Safari.\n2. Remove default button styles.\n*/\n\nbutton,\ninput:where([type='button']),\ninput:where([type='reset']),\ninput:where([type='submit']) {\n  -webkit-appearance: button; /* 1 */\n  background-color: transparent; /* 2 */\n  background-image: none; /* 2 */\n}\n\n/*\nUse the modern Firefox focus style for all focusable elements.\n*/\n\n:-moz-focusring {\n  outline: auto;\n}\n\n/*\nRemove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)\n*/\n\n:-moz-ui-invalid {\n  box-shadow: none;\n}\n\n/*\nAdd the correct vertical alignment in Chrome and Firefox.\n*/\n\nprogress {\n  vertical-align: baseline;\n}\n\n/*\nCorrect the cursor style of increment and decrement buttons in Safari.\n*/\n\n::-webkit-inner-spin-button,\n::-webkit-outer-spin-button {\n  height: auto;\n}\n\n/*\n1. Correct the odd appearance in Chrome and Safari.\n2. Correct the outline style in Safari.\n*/\n\n[type='search'] {\n  -webkit-appearance: textfield; /* 1 */\n  outline-offset: -2px; /* 2 */\n}\n\n/*\nRemove the inner padding in Chrome and Safari on macOS.\n*/\n\n::-webkit-search-decoration {\n  -webkit-appearance: none;\n}\n\n/*\n1. Correct the inability to style clickable types in iOS and Safari.\n2. Change font properties to `inherit` in Safari.\n*/\n\n::-webkit-file-upload-button {\n  -webkit-appearance: button; /* 1 */\n  font: inherit; /* 2 */\n}\n\n/*\nAdd the correct display in Chrome and Safari.\n*/\n\nsummary {\n  display: list-item;\n}\n\n/*\nRemoves the default spacing and border for appropriate elements.\n*/\n\nblockquote,\ndl,\ndd,\nh1,\nh2,\nh3,\nh4,\nh5,\nh6,\nhr,\nfigure,\np,\npre {\n  margin: 0;\n}\n\nfieldset {\n  margin: 0;\n  padding: 0;\n}\n\nlegend {\n  padding: 0;\n}\n\nol,\nul,\nmenu {\n  list-style: none;\n  margin: 0;\n  padding: 0;\n}\n\n/*\nReset default styling for dialogs.\n*/\ndialog {\n  padding: 0;\n}\n\n/*\nPrevent resizing textareas horizontally by default.\n*/\n\ntextarea {\n  resize: vertical;\n}\n\n/*\n1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)\n2. Set the default placeholder color to the user's configured gray 400 color.\n*/\n\ninput::placeholder,\ntextarea::placeholder {\n  opacity: 1; /* 1 */\n  color: #9ca3af; /* 2 */\n}\n\n/*\nSet the default cursor for buttons.\n*/\n\nbutton,\n[role=\"button\"] {\n  cursor: pointer;\n}\n\n/*\nMake sure disabled buttons don't get the pointer cursor.\n*/\n:disabled {\n  cursor: default;\n}\n\n/*\n1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)\n2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)\n   This can trigger a poorly considered lint error in some tools but is included by design.\n*/\n\nimg,\nsvg,\nvideo,\ncanvas,\naudio,\niframe,\nembed,\nobject {\n  display: block; /* 1 */\n  vertical-align: middle; /* 2 */\n}\n\n/*\nConstrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)\n*/\n\nimg,\nvideo {\n  max-width: 100%;\n  height: auto;\n}\n\n/* Make elements with the HTML hidden attribute stay hidden by default */\n[hidden]:where(:not([hidden=\"until-found\"])) {\n  display: none;\n}\n  .fixed {\n  position: fixed;\n}\n  .top-0 {\n  top: 0px;\n}\n  .z-50 {\n  z-index: 50;\n}\n  .mb-2 {\n  margin-bottom: 0.5rem;\n}\n  .mb-4 {\n  margin-bottom: 1rem;\n}\n  .mt-4 {\n  margin-top: 1rem;\n}\n  .flex {\n  display: flex;\n}\n  .grid {\n  display: grid;\n}\n  .hidden {\n  display: none;\n}\n  .h-8 {\n  height: 2rem;\n}\n  .h-\\[200px\\] {\n  height: 200px;\n}\n  .min-h-screen {\n  min-height: 100vh;\n}\n  .w-8 {\n  width: 2rem;\n}\n  .w-full {\n  width: 100%;\n}\n  .flex-1 {\n  flex: 1 1 0%;\n}\n  .flex-grow {\n  flex-grow: 1;\n}\n  .grid-cols-1 {\n  grid-template-columns: repeat(1, minmax(0, 1fr));\n}\n  .flex-col {\n  flex-direction: column;\n}\n  .items-center {\n  align-items: center;\n}\n  .justify-center {\n  justify-content: center;\n}\n  .justify-between {\n  justify-content: space-between;\n}\n  .gap-2 {\n  gap: 0.5rem;\n}\n  .gap-4 {\n  gap: 1rem;\n}\n  .space-y-4 \u003e :not([hidden]) ~ :not([hidden]) {\n  --tw-space-y-reverse: 0;\n  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));\n  margin-bottom: calc(1rem * var(--tw-space-y-reverse));\n}\n  .rounded-full {\n  border-radius: 9999px;\n}\n  .rounded-lg {\n  border-radius: 0.5rem;\n}\n  .border-b {\n  border-bottom-width: 1px;\n}\n  .border-t {\n  border-top-width: 1px;\n}\n  .border-slate-700 {\n  --tw-border-opacity: 1;\n  border-color: rgb(51 65 85 / var(--tw-border-opacity));\n}\n  .bg-blue-600 {\n  --tw-bg-opacity: 1;\n  background-color: rgb(37 99 235 / var(--tw-bg-opacity));\n}\n  .bg-slate-700 {\n  --tw-bg-opacity: 1;\n  background-color: rgb(51 65 85 / var(--tw-bg-opacity));\n}\n  .bg-slate-800 {\n  --tw-bg-opacity: 1;\n  background-color: rgb(30 41 59 / var(--tw-bg-opacity));\n}\n  .bg-slate-900 {\n  --tw-bg-opacity: 1;\n  background-color: rgb(15 23 42 / var(--tw-bg-opacity));\n}\n  .p-4 {\n  padding: 1rem;\n}\n  .px-3 {\n  padding-left: 0.75rem;\n  padding-right: 0.75rem;\n}\n  .px-4 {\n  padding-left: 1rem;\n  padding-right: 1rem;\n}\n  .py-2 {\n  padding-top: 0.5rem;\n  padding-bottom: 0.5rem;\n}\n  .py-3 {\n  padding-top: 0.75rem;\n  padding-bottom: 0.75rem;\n}\n  .pt-20 {\n  padding-top: 5rem;\n}\n  .text-center {\n  text-align: center;\n}\n  .text-2xl {\n  font-size: 1.5rem;\n  line-height: 2rem;\n}\n  .text-lg {\n  font-size: 1.125rem;\n  line-height: 1.75rem;\n}\n  .text-sm {\n  font-size: 0.875rem;\n  line-height: 1.25rem;\n}\n  .text-xl {\n  font-size: 1.25rem;\n  line-height: 1.75rem;\n}\n  .font-bold {\n  font-weight: 700;\n}\n  .font-semibold {\n  font-weight: 600;\n}\n  .text-blue-500 {\n  --tw-text-opacity: 1;\n  color: rgb(59 130 246 / var(--tw-text-opacity));\n}\n  .text-gray-300 {\n  --tw-text-opacity: 1;\n  color: rgb(209 213 219 / var(--tw-text-opacity));\n}\n  .text-gray-400 {\n  --tw-text-opacity: 1;\n  color: rgb(156 163 175 / var(--tw-text-opacity));\n}\n  .text-white {\n  --tw-text-opacity: 1;\n  color: rgb(255 255 255 / var(--tw-text-opacity));\n}\n  .hover\\:bg-blue-700:hover {\n  --tw-bg-opacity: 1;\n  background-color: rgb(29 78 216 / var(--tw-bg-opacity));\n}\n  .hover\\:bg-slate-600:hover {\n  --tw-bg-opacity: 1;\n  background-color: rgb(71 85 105 / var(--tw-bg-opacity));\n}\n  .hover\\:text-white:hover {\n  --tw-text-opacity: 1;\n  color: rgb(255 255 255 / var(--tw-text-opacity));\n}\n  @media (min-width: 768px) {\n\n  .md\\:block {\n    display: block;\n  }\n\n  .md\\:grid-cols-3 {\n    grid-template-columns: repeat(3, minmax(0, 1fr));\n  }\n}\n  @media (min-width: 1024px) {\n\n  .lg\\:px-5 {\n    padding-left: 1.25rem;\n    padding-right: 1.25rem;\n  }\n\n  .lg\\:pl-3 {\n    padding-left: 0.75rem;\n  }\n}\n"])</script><script>self.__next_f.push([1,"15:T2227,"])</script><script>self.__next_f.push([1,"function MainComponent() {\n    return /*#__PURE__*/ React.createElement(\"div\", {\n        className: \"min-h-screen bg-slate-900 flex flex-col\",\n        __source: {\n            fileName: \"\u003canon\u003e\",\n            lineNumber: 3,\n            columnNumber: 5\n        },\n        __self: this\n    }, /*#__PURE__*/ React.createElement(\"nav\", {\n        className: \"fixed top-0 z-50 w-full bg-slate-800 border-b border-slate-700\",\n        __source: {\n            fileName: \"\u003canon\u003e\",\n            lineNumber: 4,\n            columnNumber: 7\n        },\n        __self: this\n    }, /*#__PURE__*/ React.createElement(\"div\", {\n        className: \"px-3 py-3 lg:px-5 lg:pl-3\",\n        __source: {\n            fileName: \"\u003canon\u003e\",\n            lineNumber: 5,\n            columnNumber: 9\n        },\n        __self: this\n    }, /*#__PURE__*/ React.createElement(\"div\", {\n        className: \"flex items-center justify-between\",\n        __source: {\n            fileName: \"\u003canon\u003e\",\n            lineNumber: 6,\n            columnNumber: 11\n        },\n        __self: this\n    }, /*#__PURE__*/ React.createElement(\"div\", {\n        className: \"text-blue-500 font-bold text-xl flex items-center gap-2\",\n        __source: {\n            fileName: \"\u003canon\u003e\",\n            lineNumber: 7,\n            columnNumber: 13\n        },\n        __self: this\n    }, /*#__PURE__*/ React.createElement(\"i\", {\n        className: \"fas fa-link\",\n        __source: {\n            fileName: \"\u003canon\u003e\",\n            lineNumber: 8,\n            columnNumber: 15\n        },\n        __self: this\n    }), \"CryptoVest\"), /*#__PURE__*/ React.createElement(\"div\", {\n        className: \"flex items-center gap-2 text-gray-300\",\n        __source: {\n            fileName: \"\u003canon\u003e\",\n            lineNumber: 11,\n            columnNumber: 13\n        },\n        __self: this\n    }, /*#__PURE__*/ React.createElement(\"img\", {\n        src: \"https://placehold.co/32x32\",\n        alt: \"User avatar\",\n        className: \"w-8 h-8 rounded-full\",\n        __source: {\n            fileName: \"\u003canon\u003e\",\n            lineNumber: 12,\n            columnNumber: 15\n        },\n        __self: this\n    }), /*#__PURE__*/ React.createElement(\"span\", {\n        className: \"hidden md:block\",\n        __source: {\n            fileName: \"\u003canon\u003e\",\n            lineNumber: 17,\n            columnNumber: 15\n        },\n        __self: this\n    }, \"John Doe\"))))), /*#__PURE__*/ React.createElement(\"div\", {\n        className: \"p-4 pt-20 flex-grow\",\n        __source: {\n            fileName: \"\u003canon\u003e\",\n            lineNumber: 23,\n            columnNumber: 7\n        },\n        __self: this\n    }, /*#__PURE__*/ React.createElement(\"div\", {\n        className: \"grid grid-cols-1 md:grid-cols-3 gap-4 mb-4\",\n        __source: {\n            fileName: \"\u003canon\u003e\",\n            lineNumber: 24,\n            columnNumber: 9\n        },\n        __self: this\n    }, /*#__PURE__*/ React.createElement(\"div\", {\n        className: \"p-4 bg-slate-800 rounded-lg\",\n        __source: {\n            fileName: \"\u003canon\u003e\",\n            lineNumber: 25,\n            columnNumber: 11\n        },\n        __self: this\n    }, /*#__PURE__*/ React.createElement(\"h3\", {\n        className: \"text-lg font-semibold text-white mb-2\",\n        __source: {\n            fileName: \"\u003canon\u003e\",\n            lineNumber: 26,\n            columnNumber: 13\n        },\n        __self: this\n    }, \"Total Balance\"), /*#__PURE__*/ React.createElement(\"p\", {\n        className: \"text-2xl font-bold text-white\",\n        __source: {\n            fileName: \"\u003canon\u003e\",\n            lineNumber: 29,\n            columnNumber: 13\n        },\n        __self: this\n    }, \"$0.00\"), /*#__PURE__*/ React.createElement(\"p\", {\n        className: \"text-gray-400\",\n        __source: {\n            fileName: \"\u003canon\u003e\",\n            lineNumber: 30,\n            columnNumber: 13\n        },\n        __self: this\n    }, \"No change (24h)\"), /*#__PURE__*/ React.createElement(\"div\", {\n        className: \"mt-4 flex gap-2\",\n        __source: {\n            fileName: \"\u003canon\u003e\",\n            lineNumber: 31,\n            columnNumber: 13\n        },\n        __self: this\n    }, /*#__PURE__*/ React.createElement(\"a\", {\n        href: \"/plans\",\n        className: \"flex-1 px-3 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 text-center\",\n        __source: {\n            fileName: \"\u003canon\u003e\",\n            lineNumber: 32,\n            columnNumber: 15\n        },\n        __self: this\n    }, \"Deposit\"), /*#__PURE__*/ React.createElement(\"button\", {\n        className: \"flex-1 px-3 py-2 bg-slate-700 text-white rounded-lg hover:bg-slate-600\",\n        __source: {\n            fileName: \"\u003canon\u003e\",\n            lineNumber: 38,\n            columnNumber: 15\n        },\n        __self: this\n    }, \"Withdraw\"))), /*#__PURE__*/ React.createElement(\"div\", {\n        className: \"p-4 bg-slate-800 rounded-lg\",\n        __source: {\n            fileName: \"\u003canon\u003e\",\n            lineNumber: 43,\n            columnNumber: 11\n        },\n        __self: this\n    }, /*#__PURE__*/ React.createElement(\"h3\", {\n        className: \"text-lg font-semibold text-white mb-2\",\n        __source: {\n            fileName: \"\u003canon\u003e\",\n            lineNumber: 44,\n            columnNumber: 13\n        },\n        __self: this\n    }, \"Performance\"), /*#__PURE__*/ React.createElement(\"div\", {\n        className: \"h-[200px] flex items-center justify-center text-gray-400\",\n        __source: {\n            fileName: \"\u003canon\u003e\",\n            lineNumber: 47,\n            columnNumber: 13\n        },\n        __self: this\n    }, \"Chart will be displayed here\")), /*#__PURE__*/ React.createElement(\"div\", {\n        className: \"p-4 bg-slate-800 rounded-lg\",\n        __source: {\n            fileName: \"\u003canon\u003e\",\n            lineNumber: 52,\n            columnNumber: 11\n        },\n        __self: this\n    }, /*#__PURE__*/ React.createElement(\"h3\", {\n        className: \"text-lg font-semibold text-white mb-4\",\n        __source: {\n            fileName: \"\u003canon\u003e\",\n            lineNumber: 53,\n            columnNumber: 13\n        },\n        __self: this\n    }, \"Active Investments\"), /*#__PURE__*/ React.createElement(\"div\", {\n        className: \"flex flex-col items-center justify-center h-[200px] space-y-4\",\n        __source: {\n            fileName: \"\u003canon\u003e\",\n            lineNumber: 56,\n            columnNumber: 13\n        },\n        __self: this\n    }, /*#__PURE__*/ React.createElement(\"p\", {\n        className: \"text-gray-400\",\n        __source: {\n            fileName: \"\u003canon\u003e\",\n            lineNumber: 57,\n            columnNumber: 15\n        },\n        __self: this\n    }, \"No active investments\"), /*#__PURE__*/ React.createElement(\"a\", {\n        href: \"/plans\",\n        className: \"px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700\",\n        __source: {\n            fileName: \"\u003canon\u003e\",\n            lineNumber: 58,\n            columnNumber: 15\n        },\n        __self: this\n    }, \"Deposit\"))))), /*#__PURE__*/ React.createElement(\"footer\", {\n        className: \"bg-slate-800 border-t border-slate-700 p-4\",\n        __source: {\n            fileName: \"\u003canon\u003e\",\n            lineNumber: 69,\n            columnNumber: 7\n        },\n        __self: this\n    }, /*#__PURE__*/ React.createElement(\"div\", {\n        className: \"flex justify-between items-center\",\n        __source: {\n            fileName: \"\u003canon\u003e\",\n            lineNumber: 70,\n            columnNumber: 9\n        },\n        __self: this\n    }, /*#__PURE__*/ React.createElement(\"p\", {\n        className: \"text-gray-400 text-sm\",\n        __source: {\n            fileName: \"\u003canon\u003e\",\n            lineNumber: 71,\n            columnNumber: 11\n        },\n        __self: this\n    }, \"© 2024 CryptoVest. All rights reserved.\"), /*#__PURE__*/ React.createElement(\"div\", {\n        className: \"flex gap-4\",\n        __source: {\n            fileName: \"\u003canon\u003e\",\n            lineNumber: 74,\n            columnNumber: 11\n        },\n        __self: this\n    }, /*#__PURE__*/ React.createElement(\"a\", {\n        href: \"/privacy\",\n        className: \"text-gray-400 hover:text-white text-sm\",\n        __source: {\n            fileName: \"\u003canon\u003e\",\n            lineNumber: 75,\n            columnNumber: 13\n        },\n        __self: this\n    }, \"Privacy\"), /*#__PURE__*/ React.createElement(\"a\", {\n        href: \"/terms\",\n        className: \"text-gray-400 hover:text-white text-sm\",\n        __source: {\n            fileName: \"\u003canon\u003e\",\n            lineNumber: 81,\n            columnNumber: 13\n        },\n        __self: this\n    }, \"Terms\"), /*#__PURE__*/ React.createElement(\"a\", {\n        href: \"/support\",\n        className: \"text-gray-400 hover:text-white text-sm\",\n        __source: {\n            fileName: \"\u003canon\u003e\",\n            lineNumber: 84,\n            columnNumber: 13\n        },\n        __self: this\n    }, \"Support\")))));\n}\n"])</script><script>self.__next_f.push([1,"6:[false,[\"$\",\"style\",null,{\"dangerouslySetInnerHTML\":{\"__html\":\"$11\"}}],[\"$\",\"style\",null,{\"data-twind\":\"\",\"id\":\"twind-styles\"}],[\"$\",\"div\",null,{\"className\":\"__className_d65c78 relative h-full w-full\",\"children\":[false,[\"$\",\"$L12\",null,{\"fallback\":[\"$\",\"div\",null,{\"className\":\"flex h-full w-full flex-col items-center justify-center\",\"children\":[\"$\",\"$L13\",null,{}]}],\"children\":[\"$\",\"$L14\",null,{\"compiledJS\":\"$15\",\"fonts\":[],\"designSystemTailwind\":\"$undefined\",\"newDbEnabled\":true,\"authEnabled\":false,\"clientIntegrationsSrc\":[],\"isComponent\":false,\"projectId\":\"3fa56246-7ba1-4f30-ab0d-33eb8c4ae62c\",\"selectedRevisionId\":\"16032c44-f498-44b8-9c36-de4a8b696bda\",\"envVariables\":[[\"NEXT_PUBLIC_CREATE_ENV\",\"PRODUCTION\"],[\"NEXT_PUBLIC_CREATE_APP_URL\",\"https://a7af1442-812b-4f13-92ce-d87c26894396.created.app\"]]}]}]]}],[\"$\",\"$a\",null,{\"fallback\":null,\"children\":[\"$\",\"$a\",null,{\"fallback\":null,\"children\":[\"$\",\"$L16\",null,{\"reason\":\"next/dynamic\",\"children\":[\"$\",\"$L17\",null,{}]}]}]}]]\n"])</script><script>self.__next_f.push([1,"d:[[\"$\",\"meta\",\"0\",{\"name\":\"viewport\",\"content\":\"width=device-width, initial-scale=1\"}],[\"$\",\"meta\",\"1\",{\"charSet\":\"utf-8\"}],[\"$\",\"title\",\"2\",{\"children\":\"Dashboard2\"}],[\"$\",\"meta\",\"3\",{\"name\":\"description\",\"content\":\"Create lets you code using plain text and images. Use it to build components, sites, designs, prototypes, products, tools and more.\"}],[\"$\",\"meta\",\"4\",{\"property\":\"og:title\",\"content\":\"Dashboard2\"}],[\"$\",\"meta\",\"5\",{\"property\":\"og:description\",\"content\":\"Create lets you code using plain text and images. Use it to build components, sites, designs, prototypes, products, tools and more.\"}],[\"$\",\"meta\",\"6\",{\"property\":\"og:site_name\",\"content\":\"Crypto Investment Website\"}],[\"$\",\"meta\",\"7\",{\"property\":\"og:image:type\",\"content\":\"image/png\"}],[\"$\",\"meta\",\"8\",{\"property\":\"og:image\",\"content\":\"https://crypto-investment-website-398.created.app/link/crypto-investment-website-398/opengraph-image?fe7ec8d988bc4631\"}],[\"$\",\"meta\",\"9\",{\"property\":\"og:type\",\"content\":\"website\"}],[\"$\",\"meta\",\"10\",{\"name\":\"twitter:card\",\"content\":\"summary_large_image\"}],[\"$\",\"meta\",\"11\",{\"name\":\"twitter:title\",\"content\":\"Dashboard2\"}],[\"$\",\"meta\",\"12\",{\"name\":\"twitter:description\",\"content\":\"Create lets you code using plain text and images. Use it to build components, sites, designs, prototypes, products, tools and more.\"}],[\"$\",\"meta\",\"13\",{\"name\":\"twitter:image:type\",\"content\":\"image/png\"}],[\"$\",\"meta\",\"14\",{\"name\":\"twitter:image\",\"content\":\"https://crypto-investment-website-398.created.app/link/crypto-investment-website-398/twitter-image?fe7ec8d988bc4631\"}],[\"$\",\"meta\",\"15\",{\"name\":\"next-size-adjust\"}]]\n5:null\n"])</script></body></html>