<h1>New User Signup</h1>
<p>A new user has signed up with the following details:</p>
<ul>
  <li>Email: <%= @user.email %></li>
  <li>Sign-up Date: <%= @user.created_at %></li>
  <!-- You can add more user attributes if needed -->
</ul>
